{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}

    {% if hostname %}
    <div class="col">
        <div class="card mb-4">
        <div class="card-body"> 
            <h4 class="card-title">Info</h4>
            <dl>
                <dt>Hostname:</dt><dd>{{hostname}}</dd>
                <dt>redis_host:</dt><dd>{{redis_host}}</dd>
                <dt>redis_url:</dt><dd>{{redis_url}}</dd>
                <dt>Visits:</dt><dd>{{visits}}</dd>
            </dl>
        </div>
        </div>
    </div>
    
    {% else %}
    <h1>Hello, World!</h1>

    {% endif %}

{% endblock %}